/* =========================================================
   LOADER
   ========================================================= */

.px-photo-loader {
    position: absolute;

    left: 50%;
    top: 50%;

    display: flex;
    gap: 5px;

    transform:
        translate(-50%, -50%);

    opacity: 0;

    pointer-events: none;

    transition:
        opacity .25s ease;
}

.px-photo-loader.is-loading {
    opacity: 1;
}

.px-photo-loader span {
    width: 6px;
    height: 6px;

    border-radius: 50%;

    background: #8e6380;

    animation:
        pxLoader
        1s
        ease-in-out
        infinite;
}