/* =========================================================
   BACKGROUND — NATURAL RESPONSIVE PHOTO
   ========================================================= */

.background{
    position:absolute;

    top:0;
    left:0;

    width:100%;

    /*
     * Pa mete height:100vh.
     * Background lan dwe ka swiv tout longè paj la.
     */
    min-height:100%;

    z-index:0;

    pointer-events:none;

    background-color:#eee3f6;

    background-image:
        linear-gradient(
            rgba(255,255,255,.035),
            rgba(255,255,255,.035)
        ),
        url("assets/background.png");

    /*
     * 100% auto = lajè foto adapte ak ekran,
     * wotè a kalkile otomatikman selon pwopòsyon foto a.
     *
     * Sa vle di:
     * - foto a pa stretch
     * - foto a pa koupe
     * - foto a pa zoomé
     * - pwopòsyon orijinal la rete
     */
    background-size:
        100% auto,
        100% auto;

    background-position:
        center top,
        center top;

    background-repeat:
        no-repeat,
        no-repeat;
}